* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #89acba;
}

.app-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vw;
  width: 100%;
  height: 500px;
}
.app-intro-container .port-title {
  height: 20%;
}
.app-intro-container .port-title h1 {
  position: relative;
  margin-bottom: 4vw;
  color: #232464;
}
.app-intro-container .port-title h1:after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  left: 20%;
  right: 20%;
  height: 0.2vw;
  background-color: #232464;
}
.app-intro-container .port-title h1:before {
  content: "";
  position: absolute;
  bottom: -1.5vw;
  left: 35%;
  right: 35%;
  height: 0.15vw;
  background-color: #232464;
}
.app-intro-container .img-main-container {
  display: flex;
  justify-content: center;
  height: 50%;
}
.app-intro-container .img-main-container img {
  width: 25%;
  border-radius: 50%;
}
.app-intro-container .img-main-container .img1, .app-intro-container .img-main-container .img3 {
  align-self: end;
}
.app-intro-container .img-main-container .img2 {
  align-self: start;
}
.app-intro-container .home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 30%;
  padding: 2vw;
}
.app-intro-container .home-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1vw;
}
.app-intro-container .home-container label input {
  border: 2px solid #232464;
  border-radius: 4px;
  color: #232464;
  background-color: #4B5398;
}
.app-intro-container .home-container label .input1 {
  width: 60%;
  height: 3vw;
  text-align: center;
  font-size: 1.5vw;
}
.app-intro-container .home-container label p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  width: 60%;
  height: 3vw;
  border: 2px solid #232464;
  border-radius: 4px;
  color: red;
  background-color: #89acba;
}
.app-intro-container .home-container label .input1:focus {
  border: 2px solid #232464;
  outline: none;
}
.app-intro-container .home-container label .input2 {
  cursor: pointer;
  width: 30%;
  height: 3vw;
  font-size: 1.2vw;
  font-weight: bold;
}

.app-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 4vw;
  height: 500px;
}
.app-game-container .game-title .port-title h1 {
  position: relative;
  margin-bottom: 4vw;
  color: #232464;
}
.app-game-container .game-title .port-title h1:after {
  content: "";
  position: absolute;
  bottom: -0.5vw;
  left: 20%;
  right: 20%;
  height: 0.2vw;
  background-color: #232464;
}
.app-game-container .game-title .port-title h1:before {
  content: "";
  position: absolute;
  bottom: -1.5vw;
  left: 35%;
  right: 35%;
  height: 0.15vw;
  background-color: #232464;
}
.app-game-container .game-player-pc {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.app-game-container .game-player-pc .player {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-game-container .game-player-pc .player h2 {
  display: flex;
  align-items: center;
  color: #232464;
}
.app-game-container .game-player-pc .player .img-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 25vw;
}
.app-game-container .game-player-pc .player .img-game-container img {
  width: 40%;
  padding: 1vw;
  border-radius: 50%;
  cursor: pointer;
}
.app-game-container .game-player-pc .result-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-game-container .game-player-pc .result-sec .player-choice {
  display: flex;
  justify-content: center;
}
.app-game-container .game-player-pc .result-sec .player-choice img {
  width: 40%;
  padding: 2vw 0;
  border-radius: 50%;
  cursor: pointer;
}
.app-game-container .game-player-pc .result-sec .result {
  padding: 2vw 0;
}
.app-game-container .game-player-pc .result-sec .result h3 {
  color: #232464;
  padding: 2vw 0;
  font-size: 2vw;
}
.app-game-container .game-player-pc .result-sec .pc-choice {
  display: flex;
  justify-content: center;
}
.app-game-container .game-player-pc .result-sec .pc-choice img {
  width: 40%;
  padding: 2vw 0;
  border-radius: 50%;
  cursor: pointer;
}
.app-game-container .game-player-pc .pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-game-container .game-player-pc .pc h2 {
  display: flex;
  align-items: center;
  color: #232464;
}
.app-game-container .game-player-pc .pc .img-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 25vw;
}
.app-game-container .game-player-pc .pc .img-game-container img {
  width: 40%;
  padding: 1vw;
  border-radius: 50%;
  cursor: pointer;
}
.app-game-container .score {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  height: 4vw;
}
.app-game-container .score .game-score {
  display: flex;
  align-items: center;
  width: 75%;
  height: 100%;
}
.app-game-container .score .game-score h2 {
  color: #232464;
}
.app-game-container .score .exit-game {
  display: flex;
  justify-content: center;
  width: 25%;
  height: 100%;
}
.app-game-container .score .exit-game label {
  width: 100%;
  height: 100%;
}
.app-game-container .score .exit-game label .exit-btn {
  width: 100%;
  height: 100%;
  border: 2px solid #232464;
  border-radius: 4px;
  color: #232464;
  background-color: #4B5398;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .app-game-container .game-title {
    height: 10%;
    margin-bottom: 10px;
  }
  .app-game-container .game-player-pc {
    height: 80%;
  }
  .app-game-container .game-player-pc .player {
    height: 100%;
  }
  .app-game-container .game-player-pc .player h2 {
    height: 20%;
  }
  .app-game-container .game-player-pc .player .img-game-container {
    height: 80%;
  }
  .app-game-container .game-player-pc .result-sec {
    height: 100%;
  }
  .app-game-container .game-player-pc .pc {
    height: 100%;
  }
  .app-game-container .game-player-pc .pc h2 {
    height: 20%;
  }
  .app-game-container .game-player-pc .pc .img-game-container {
    height: 80%;
  }
  .app-game-container .score {
    margin-top: 10px;
    height: 10%;
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .app-intro-container .port-title h1 {
    font-size: 3vw;
  }
  .app-intro-container .img-main-container img {
    width: 20%;
  }
  .app-game-container .score {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .app-intro-container .img-main-container img {
    width: 15%;
  }
  .app-intro-container .home-container {
    width: 100%;
  }
  .app-intro-container .port-title {
    height: 15%;
  }
  .app-intro-container .port-title h1 {
    font-size: 3.5vw;
  }
  .app-intro-container .img-main-container {
    height: 25%;
  }
  .app-intro-container .home-container {
    height: 35%;
  }
  .app-intro-container .home-container label {
    height: 30%;
  }
  .app-intro-container .home-container label .input1 {
    height: 100%;
    font-size: 2.5vw;
  }
  .app-intro-container .home-container label .input2 {
    height: 100%;
    font-size: 1.8vw;
    width: 50%;
  }
  .app-intro-container .home-container .start-btn {
    height: 50%;
  }
  .app-game-container .score {
    width: 60%;
  }
}
@media screen and (max-width: 550px) {
  .app-game-container .score {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .app-game-container .score {
    font-size: 3.5vw;
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .app-game-container h1 {
    font-size: 5vw;
  }
  .app-game-container .score {
    font-size: 3.5vw;
    width: 100%;
  }
}
.active {
  display: none !important;
}/*# sourceMappingURL=styles.css.map */